@{
    ViewBag.Title = "Home Page";
}

<section id="grid">
    @*<article>
        <header>
            <h1>Titulo del Torneo 1</h1>
        </header>
        <figure>
            <img src="images/cartel2.jpg" class="img-responsive" alt="">
        </figure>
        <footer>
            Informacion basica 1
        </footer>
    </article>*@
    <div class="card">
        <div class="card-image image2">
            <div class="banner"></div>
            <h2>Torneo Express Club de Tenis Reixac</h2>
        </div>
        <p>descripcion</p>
    </div>
    <div class="card">
        <div class="card-image image2">
            <div class="banner"></div>
            <h2>Torneo Express Club de Tenis Reixac</h2>
        </div>
        <p>descripcion</p>
    </div>
    <div class="card">
        <div class="card-image image2">
            <div class="banner"></div>
            <h2>Torneo Express Club de Tenis Reixac</h2>
        </div>
        <p>descripcion</p>
    </div>
    @*<div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="display:inline-block">
        <div class="flipper">
            <div class="front">
                <figure>
                <img src="images/cartel2.jpg" class="img-responsive" alt="">
            </figure>
            </div>
            <div class="back">
                aqui pondremos toda la info sobre el torneo!!!!
            </div>
        </div>
    </div>*@
    @*<div class="flip-container card" ontouchstart="this.classList.toggle('hover');" style="display:inline-block;">
        <div class="flipper">
            <div class="front" >
                <figure>
                    <img src="images/cartel2.jpg" class="img-responsive" alt="">
                </figure>
            </div>
            <div class="back" style="padding:8px">
                aqui pondremos toda la info sobre el torneo!!!!
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="display:inline-block">
        <div class="flipper">
            <div class="front">
                <figure>
                    <img src="images/cartel2.jpg" class="img-responsive" alt="">
                </figure>
            </div>
            <div class="back">
                aqui pondremos toda la info sobre el torneo!!!!
            </div>
        </div>
    </div>*@
   
    @*<div class="flip-container_" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper_">
            <img src="images/cartel2.jpg" class="img-responsive_" alt="">
            <div class="front">
                <figure>
                    <img src="images/cartel2.jpg" class="img-responsive" alt="">
                </figure>
            </div>
            <div class="back">
                aqui pondremos toda la info sobre el torneo!!!!
            </div>
        </div>
    </div>*@
    @*<article>
        <header>
            <h1>Titulo del Torneo 2</h1>
        </header>
        <figure>
            <img src="images/cartel.jpg" alt="">
        </figure>
        <footer>
            Informacion basica 2
        </footer>
    </article>
    <article>
        <header>
            <h1>Titulo del Torneo 2</h1>
        </header>
        <figure>
            <img src="images/cartel.jpg" alt="">
        </figure>
        <footer>
            Informacion basica 2
        </footer>
    </article>*@
</section>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@ 